<%= render 'books/list', book: @new_book %>

<h2>Book detail</h2>
<table class='table table-hover table-inverse'>


  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@book.user) do %>
          <%= attachment_image_tag @book.user, :profile_image, size: "40x40", fallback: "no_image.png" %><br>
          <%= @book.user.name %>
        <% end %>
      </td>
      <td><%= link_to @book.title, book_path(@book) %></td>
      <td><%= @book.body %></td>

      <% if current_user.id == @book.user_id %>
      <td>
        <a class="btn-sm btn-success edit_book_40929" <%= link_to "Edit", edit_book_path(@book) %>
      </td>
      <td>
        <a class="btn-sm btn-danger destroy_book_40929" <%= link_to "Destroy", book_path(@book), method: :delete %>
      </td>
      <% end %>

    </tr>
  </tbody>

</table>
</div>